<br>
<br>

  <div class="right-area">
    <div class="container form-container-banner-signup">
  <form>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="text-area text-center">
      <h2>Create account</h2>
      <p>Already have an account? <span><%= link_to "Login", new_user_session_path%></span></p>
    </div>
    <div class="form-row">
       <div class="col-12">
        <%= f.input_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "name" %>
        <%= f.input_field :username, autofocus: true, autocomplete: "username", class: "form-control", placeholder: "username" %>
      </div> <div class="col-12">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email" %>
      </div>
      <div class="col-12">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email" %>
      </div>
      <div class="col-6">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "password" %>
      </div>
      <div class="col-6">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "password" %>
      </div>
      <div class="col-12">
        <%= f.input :avatar_photo, as: :file %>
      </div>
    </div>
    <div class="sign-up-form-btn">
      <div class="p-font sign-up-form"><%= f.submit "Sign up", class: "p-font sign-up-form" %></div>
    </div>
    <% end %>
  </form>
 </div>
  </div>
</div>

<br>
<br>
