<div class="project-container d-flex mb-5">
  <div class="project-column sides-left">
    <div class="chatroom-card text-center">
      <div class="edit-icon"><i class="fas fa-pencil-alt"></i></div>
        <%= cl_image_tag @chatroom.project.photo.key, height: 300, width: 400, crop: :fill, class: "card-img" %>
      <h2 class="h2-font p-3"><%= @chatroom.project.name %></h2>
      <p class="p-font"><%= @chatroom.project.description %></p>
    </div>
    <%# MEMBER SECTION %>
    <div class="members text-center">
      <h2 class="h2-font mb-3">Members</h2>
      <div class="members-section ">
          <% teammate_ids = @chatroom.project.teammates %>
          <% teammate_ids.each do |teammate_id| %>
          <% teammate = User.find_by(id: teammate_id) %>
          <%= cl_image_tag teammate.avatar_photo.key, height: 20, width: 20, crop: :scale, class: "avatar-menu"%>
          <div class="avatar-text p-font"><%= teammate.name %></div>
        <% end %>
      </div>
    </div>
    <hr>



    <%# LINK SECTION %>
    <div class="links ">
      <div class="copy-icon"><i class="fas fa-link"></i></div>
      <div class="email-icon"><i class="far fa-envelope"></i></div>
    </div>
  </div>

  <%# CHATROOM SECTION %>
  <div class="project-column chat-section">
    <h1 class="h2-font text-center mt-2"><%= @chatroom.name %></h1>
    <hr>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
      <div class="message-container d-flex" id="message-<%= message.id %>">
        <i class="author d-flex align-center">
          <%= cl_image_tag @user.avatar_photo.key, height: 20, width: 20, crop: :scale, class: "avatar-menu"%>
          <div class="chat-text d-flex align-items-center">
            <p><%= message.content %></p>
          </div>
        </i>
      </div>
      <% end %>

      <%# CHATROOM BOX SECTION %>
    </div>
    <div class="chat-box">
      <% @project = @chatroom.project %>
      <%= simple_form_for([@project, @chatroom, @message]) do |f| %>
      <%= f.input :content, :input_html => { :class => 'chatform' }, label: false, placeholder: "Type a message" %>
      <%= f.submit value:"Send", class: "btn btn-dark chat-button"%>
      <% end %>
    </div>

  </div>
  <div class="project-column sides-right">
    <textarea name="" id="textarea" cols="30" rows="10" placeholder="Tips for Starting a project:"></textarea>
    <button class="btn btn-dark text-align-center" id="callbutton">Video Chat</button>
  </div>
</div>
