<div class="container">
<h1><%= @chatroom.name %></h1>
<h1>Owner: <%= @chatroom.user.email %></h1>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.email %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

  <% @project = @chatroom.project %>
  <%= simple_form_for([@project, @chatroom, @message]) do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
    <%= f.submit %>
  <% end %>
</div>


<div class="project-container d-flex">
  <div class="project-column sides">
    <div class="chatroom-card text-center">
      <div class="edit-icon"><i class="fas fa-pencil-alt"></i></div>
      <img src="https://images.unsplash.com/photo-1594819047050-99defca82545?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1540&q=80" alt="">
      <h2 class="h2-font p-3">Project Name</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor asperiores eveniet in saepe corrupti fugit neque, architecto ipsam vitae eius.</p>
    </div>
    <div class="members text-center">
      <h2 class="h2-font mb-3">Members</h2>
      <div class="members-section">      
        <div class="avatar-all">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <div class="avatar-text h2-font">Neo</div>
          <div class="p-font">Montreal</div>
        </div>
        <div class="avatar-all">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <div class="avatar-text h2-font">Neo</div>
          <div class="p-font">Montreal</div>
        </div>
        <div class="avatar-all">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
          <div class="avatar-text h2-font">Neo</div>
          <div class="p-font">Montreal</div>
        </div>
      </div>
    </div>
    <hr>
    <div class="links">
    <div class="arrow-right-icon"><i class="fas fa-arrow-right"></i></div>
      <div class="edit-icon"><i class="fas fa-pencil-alt"></i></div>
      <div class="email-icon"><i class="far fa-envelope"></i></div>
    </div>
  </div>
  <div class="project-column chat-section">
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, qui.</h2>
  </div>
  <div class="project-column sides">
  <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, eaque?</h3>
  </div>
</div>