  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <h6>Logo</h6>
            <p class="text-justify"></p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Log in</h6>
            <ul class="footer-links">
              <li><a href="#"><%= link_to "My Profile", "#", class: "" %></a></li>
              <li><a href="#"><%= link_to "My Dashboard", user_dashboard_requests_path, class: "" %></a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Projects</h6>
            <ul class="footer-links">
              <li><a href="#"><%= link_to "New ideas", projects_path  %></a></li>
              <li><a href="#"><%= link_to "Projects", projects_path  %></a></li>
              <li><a href="#"><%= link_to "Create New Project", new_project_path %></a></li>
              <li><a href="#">How it Works</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Community</h6>
            <ul class="footer-links">
              <li><a href="#"><%= link_to "Profiles", users_path, class: "" %></a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
         <a href="#">JoinCodeBuddies</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
