<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "joincodebuddies.png" %>
      <% end %>
  </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav3">
          <div class="nav-content">
          <% if user_signed_in? %>
            <li class="nav-item h1-mobile">
              <%= link_to "Projects", projects_path  %>
            </li>
            <li class="nav-item h1-mobile">
              <%= link_to "Community", users_path, class: "nav-link" %>
            </li>
            <li class="nav-item h1-mobile nav-special">
              <%= link_to "How it works", "#", class: "nav-link" %>
            </li>

            <li class="nav-item dropdown h1-mobile">
              <% if current_user.avatar_photo.attached? %>
              <div class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= cl_image_tag current_user.avatar_photo.key, height: 20, width: 20, crop: :fill, class: "avatar"%></div>
            <% else %>
              <%= cl_image_tag("https://res.cloudinary.com/drlbljn6y/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1615303526/michael-dam-mEZ3PoFGs_k-unsplash_byqvkv.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
            <% end %>
              <div class="dropdown-menu dropdown-menu-right h1-mobile" aria-labelledby="navbarDropdown h1-mobile">
                <%= link_to "My profile", "#", class: "dropdown-item h1-mobile" %>
                <%= link_to "My Dashboard", user_dashboard_requests_path, class: "dropdown-item h1-mobile" %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item h1-mobile" %>
              </div>
            </li>



          <% else %>
            <li class="nav-item h1-mobile">
              <%= link_to "Projects", projects_path, class: "nav-link" %>
            </li>
            <li class="nav-item h1-mobile">
              <%= link_to "Community", users_path, class: "nav-link" %>
            </li>
            <li class="nav-item h1-mobile nav-special">
              <%= link_to "How it works", "#", class: "nav-link" %>
            </li>

            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "log-in" %>
            </li>
             <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "sign-up" %>
            </li>
          </div>
          <% end %>
        </ul>
      </div>
</div>

