<br>
<br>

<div class="container container-user-info">
  <div class="user-info d-flex my-3">
    <a class="img-card" href="">
      <%= cl_image_tag @user.avatar_photo.key, height: 100, width: 100, crop: :fill %>
    </a>
    <div class="user-text py-2">
      <h2><%= @user.name.capitalize %></h2>
      <p><%= @user.job_title %></p>
      <p class="location mr-2"><%= @user.city %></p>
    </div>
  </div>
    <div class="projects-user d-flex">
    <a href="">
        <div class=""><%= link_to "Create Project", new_project_path, class: "p-font create-project" %></div>
    </a>
    </div>
  <div class="user-stack text-center">
    <br>
    <h3>My Skills</h3>
      <div class="grid">
        <% @user.skills.to_a.each do |user_skill| %>
        <p><%= user_skill.name %></p>
      </div>
      <% end %>
  <hr>
  </div>
  <div class="icons d-flex">
    <div class="email-icon"><i class="far fa-envelope"></i></div>
    <div class="copy-icon"><i class="fas fa-link"></i></div>
  </div>
</div>

<br>
<br>
