

<div class="container container-user-info-dashboard p-3 d-flex  mt-5">
  <div class="user-side ">
    <div class="user-info d-flex my-3">
      <a class="img-card-dashboard" href="">
        <%= cl_image_tag @user.avatar_photo.key, height: 100, width: 100, crop: :fill %>
      </a>
      <div class="user-text py-2">
        <h2><%= @user.name.capitalize %></h2>
        <p><%= @user.job_title %></p>
        <p class="location ">Location: <span><%= @user.city %></span> </p>
      </div>
    </div>
      <div class="projects-user d-flex">
        <a href="">
          <div class="">
            <%= link_to "Create Project", new_project_path, class: "p-font create-project" %>
          </div>
      </a>
      </div>
    <div class="user-stack text-center">
      <br>
      <h3>My Skills</h3>
        <div class="grid-dashboard">
          <% @user.skills.to_a.each do |user_skill| %>
          <p class="p-font" id="skills-dashboard"><%= user_skill.name %></p>
          <% end %>
        </div>
    <hr>
    </div>
    <div class="icons d-flex">
      <div class="email-icon"><i class="far fa-envelope"></i></div>
      <div class="copy-icon"><i class="fas fa-link"></i></div>
    </div>
  </div>

  <%# Right Side %>
  <div class="project-side-profile  bg-white p-5 ml-2 ">
    <h2 class="h2-font mx-3">Projects</h2>
      <div class="my-projects-container">
        <% @projects.each do |project| %>
      <div class="card project-finish">
        <a class="img-card" href="">
          <i id="fas" class="fas fa-heart"></i>
          <a class="img-card" href="">
            <%= cl_image_tag project.photo.key, height: 300, width: 400, crop: :fill, class: "card-img" %>
          </a>
        </a>
        <div class="card-content text-center p-3">
          <h2 class="card-title">
            <a href="">
              <%= project.name.capitalize %>
            </a>
          </h2>
          <p class=""><%= project.description %></p>
        </div>
        <div class="card-read-more pt-2">
          <div class="card-footer-bottom d-flex justify-content-around py-2">
                <% teammate_ids = project.teammates %>
                <% teammate_ids.each do |teammate_id| %>
                <% teammate = User.find_by(id: teammate_id) %>
               <%= cl_image_tag teammate.avatar_photo.key, height: 35, width: 35, crop: :scale, class: "avatar-menu"%>
            <% end %>
          </div>
        </div>
          <hr>
        
        <div class="detail-footer">
          <a href="">
            <div class="p-font-info details">Details</div>
          </a>
        </div>

      </div>

  </div>
</div>
    <% end %>
<br>
<br>
