<% if false %>
<% if !@incoming_requests.nil? %>
<h2>My ideas</h2>
<table>
  <tr>
    <th>Project photo</th>
    <th>Project name</th>
    <th>Status</th>
  </tr>

</table>
<% end %>


<% if !@incoming_requests.nil? %>
<h2>Requests from members</h2>
<table>
  <tr>
    <th>Project photo</th>
    <th>Project name</th>
    <th>Requested by:</th>
    <th>Status</th>
  </tr>
    <% @incoming_requests.each do |request| %>
    <tr>
      <td><%= cl_image_tag(request.project.photo.key, height: 80, width: 80, crop: :fill)%></td>
      <td><%= request.project.name %></td>
      <td><%= cl_image_tag(request.user.avatar_photo.key, class: "avatar", height: 40, width: 40, crop: :fill) %><br><%= request.user.email %></td>
      <td>
        <div class="dropdown">
          <% button_color =  case request.status %>
          <% when "accepted" %>
            <% "btn-success" %>
          <% when "declined" %>
            <% "btn-danger" %>
          <% when "pending" %>
            <% "btn-secondary" %>
          <% end %>
            <button class="btn <%= button_color %> dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= request.status %>
            </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item "><%= link_to "accept request", accept_requests_path(request), method: :patch,  class: "dropdown-item " %></button>
            <button class="dropdown-item "><%= link_to "deny request", deny_requests_path(request), method: :patch, class: "dropdown-item "%></button>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<br>
<br>
<br>

<% if !@outgoing_requests.nil? %>
<h2>My Projects</h2>
<table>
  <tr>
    <th>Project photo</th>
    <th>Project name</th>
    <th>Status</th>
  </tr>

    <% @outgoing_requests.each do |request| %>
    <tr>
      <td><%= cl_image_tag(request.project.photo.key, height: 80, width: 80, crop: :fill)%></td>
      <td><%= request.project.name %></td>
      <td>
        <div class="dropdown">
          <% button_color =  case request.status %>
          <% when "accepted" %>
            <% "btn-success" %>
          <% when "declined" %>
            <% "btn-danger" %>
          <% when "pending" %>
            <% "btn-secondary" %>
          <% end %>
            <button class="btn <%= button_color %> dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= request.status %>
            </button>

        </div>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
<% end %>

<% end %>



<div class="container container-user-info-dashboard p-3 d-flex mt-5">
  <div class="user-side mr-3">
    <div class="user-info d-flex my-3">
      <a class="img-card-dashboard" href="">
        <%= cl_image_tag @user.avatar_photo.key, height: 100, width: 100, crop: :fill %>
      </a>
      <div class="user-text py-2">
        <h2><%= @user.name.capitalize %></h2>
        <p><%= @user.job_title %></p>
        <p class="location ">Location: <span><%= @user.city %></span> </p>
      </div>
    </div>
      <div class="projects-user d-flex">
      <a href="">
          <div class=""><%= link_to "Create Project", new_project_path, class: "p-font create-project" %></div>
      </a>
      </div>
    <div class="user-stack text-center">
      <br>
      <h3>My Skills</h3>
        <div class="grid">
          <% @user.skills.to_a.each do |user_skill| %>
          <p><%= user_skill.name %></p>
        </div>
        <% end %>
    <hr>
    </div>
    <div class="icons d-flex">
      <div class="email-icon"><i class="far fa-envelope"></i></div>
      <div class="copy-icon"><i class="fas fa-link"></i></div>
    </div>
  </div>

  <%# Right Side %>
  <div class="project-side text-center bg-white pt-4">
  <% if !@incoming_requests.nil? %>

      <h2 class="h2-font mb-3">Requests from members</h2>
    <div class="first-section d-flex">
      <table>
        <tr>
          <%# <th>Project photo</th> %>
          <th>Requested by:</th>
          <th>Project name</th>
          <th>Status</th>
        </tr>
          <% @incoming_requests.each do |request| %>
          <tr>
            <%# <td class="img-project"><%= cl_image_tag(request.project.photo.key, height: 80, width: 80, crop: :fill)%>
            <td><%= cl_image_tag(request.user.avatar_photo.key, class: "avatar", height: 40, width: 40, crop: :fill) %><br><%= request.user.name %></td>
            <td><p class="p-font"><%= request.project.name %></p></td>
            <td>
              <div class="dropdown">
                <% button_color =  case request.status %>
                <% when "accepted" %>
                  <% "btn-success" %>
                <% when "declined" %>
                  <% "btn-danger" %>
                <% when "pending" %>
                  <% "btn-secondary" %>
                <% end %>
                  <button class="btn <%= button_color %> dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= request.status %>
                  </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item "><%= link_to "accept request", accept_requests_path(request), method: :patch,  class: "dropdown-item " %></button>
                  <button class="dropdown-item "><%= link_to "deny request", deny_requests_path(request), method: :patch, class: "dropdown-item "%></button>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        <% end %>
      </table>
    </div>
        <h2 class="h2-font my-3">My Projects</h2>
    <div class="second-section">
      <% if !@outgoing_requests.nil? %>
        <table>
          <tr>
            <%# <th>Project photo</th> %>
            <th>Project name</th>
            <th>Approved Projects</th>
            <th>Status</th>
          </tr>

            <% @outgoing_requests.each do |request| %>
            <tr>
              <%# <td><%= cl_image_tag(request.project.photo.key, height: 80, width: 80, crop: :fill)%>
              <td><p class="p-font"><%= request.project.name %></p></td>
              <td><p><%= request.status %></p></td>
              <td>
                <div class="dropdown">
                  <% button_color =  case request.status %>
                  <% when "accepted" %>
                    <% "btn-success" %>
                  <% when "declined" %>
                    <% "btn-danger" %>
                  <% when "pending" %>
                    <% "btn-secondary" %>
                  <% end %>
                    <button class="btn <%= button_color %> dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= request.status %>
                    </button>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
        <% end %>
    </div>
  </div>

</div>

<br>
<br>
