<br>
<% if user_signed_in? %>
<div class="banner-home">
  <div class="banner-text">
    <div class="h2-font-home">Welcome <span class="h2-font-home banner-green-text"></span><%= @user.name.capitalize %></div>
    <br>
    <%= link_to "Create Project", new_project_path, class: "p-font create-project" %>
  </div>
  <div class="banner-image">
    <img width="710px" height="550px" src="https://res.cloudinary.com/drlbljn6y/image/upload/v1617323462/banner1_zwwv1q.jpg" alt="">
  </div>
</div>
<% else %>
<div class="banner-home">
  <div class="banner-text">
    <div class="h2-font">Join our community</div>
    <div class="h2-font banner-green-text">Code, build and learn</div>
    <br>
    <%= link_to "Sign up", new_user_registration_path, class: "p-font sign-up" %>
  </div>
  <div class="banner-image">
    <img width="710px" height="550px" src="https://res.cloudinary.com/drlbljn6y/image/upload/v1617323462/banner1_zwwv1q.jpg" alt="">
  </div>
</div>
<% end %>
<br>
<hr>
<br>



<%# CARDS %>
<div class="container home-card-section bg-white">
  <div class="text-sectios text-center mt-4">
    <h3 class="h3-font pt-3">See all the new ideas to join</h3>
    <p class="p-font mb-4">Many of us have amazing ideas and we are looking for the perfect team to build it.</p>
  </div>
  <div class="container project-container bg-white p-5">
  <div class="cards">
    <% @projects.each do |project| %>
    <div class="">
      <div class="">
        <div class="card">
          <a class="img-card" href="">
            <%= cl_image_tag project.photo.key, height: 300, width: 400, crop: :fill %>
          </a>
          <a href="">
            <div class="p-font join"><%= link_to "Join", project_path(project)  %>
            </div>
          </a>

          <div class="card-content text-center p-3">
            <h2 class="card-title">
              <a href="">
                <%= project.name %>
              </a>
            </h2>
            <p class=""><%= project.description %> </p>
          </div>

        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>


<%# Projects Cards %>
<br>
<hr>
<br>


<div class="container project-container bg-white p-4 mb-4">
  <div class="row">
<div class="container text-center my-4">
  <div class="container-project">
    <div class="text-project">
      <h3 class="h3-font">See the final results</h3>
      <p class="p-font">Our members join a team, started working and created their dream product.</p>
      <%# Code for live finished project data %>
      <div class="col-4">
        <% @finished_projects.each do |project| %>
            <% @project = project %>
              <div class="card project-finish">
                <a class="img-card" href="">
                  <i id="fas" class="fas fa-heart"></i>
                  <img id="card-img"
                    src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" />
                </a>
                <a href="">
                </a>
                <div class="card-content text-center p-3">
                  <h2 class="card-title">
                    <a href="">
                      <%= @project.name %>
                    </a>
                  </h2>
                  <p class=""><%= @project.description %></p>
                </div>
                <% teammate_ids = @project.teammates %>
                <% teammate_ids.each do |teammate_id| %>
                <% teammate = User.find_by(id: teammate_id) %>
                  <div class="card-read-more pt-2">
                    <div class="card-footer-bottom d-flex justify-content-around py-2">
                      <div class="avatar-all">
                        <%= cl_image_tag teammate.avatar_photo.key, height: 35, width: 35, crop: :scale, class: "avatar-menu"%></div>
                        <div class="avatar-text h2-font"style="font-size:20px"><%= teammate.name %></div>
                        <p style="font-size:12px"><%= teammate.city %></p>
                      </div>
                    </div>
                <% end %>
                    <hr>
                  </div>
                <div class="detail-footer">
                  <a href="">
                    <div class="p-font-info details"><%= link_to  "Details", project_path(@project) %></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>

<br>
<hr>
<br>


<%# OUR COMUNITY %>

<div class="container comunity-container bg-white mb-4 mt-4" >
  <div class="our-comunity text-center mt-3 p-3">
    <h2 class="h2-font">Our Community</h2>
    <p>Choose your team, build your network</p>
  </div>
  <div class="container avatar-section mb-5 mt-4">
    <div class="avatar-container">
      <% @users.each do |user| %>
      <div class="avatar-all">
        <a class="" href="">
        <%= cl_image_tag user.avatar_photo.key, height: 50, width: 50, crop: :fill, class: "avatar" %>
        </a>
        <div class="avatar-text h2-font"><%= user.name.capitalize %></div>
        <div class="p-font"><%= user.city %></div>
      </div>
      <% end %>
    </div>

  </div>
</div>

<br>
<hr>
<br>

<div class="container learn-how-section bg-white  ">
  <h2 class="h2-font">Learn how you can be part of the community</h2>
</div>



<%# TESTAMONIAL %>
<div class="testamonial-container  mt-5 p-4">
  <div class="testamonial text-center mb-4">
    <h4 class="h4-font mb-3">WHAT DEVELOPERS THINK</h4>
    <hr>
    <h2 class="h2-font">CodeBuddies has guided thousands of developers on learning adventures</h2>
    <p class="p-font">CodeBuddies has helped thousands of people learning in-demand skills accelerate their learning through collaboration and project-building.</p>
  </div>
  <br>
  <div class="client text-center">
    <div class="client-reviews">
      <h5 class="h5-font">“I got my first developer job at the age of 35 largely due to the technical AND soft skills I gained through CodeBuddies.”</h3>
      <p class="author p-font">Eric Zumwalt / United States</p>
    </div>
    <hr>
      <div class="client-reviews">
      <h5 class="h5-font">“I realized pretty quickly that I was learning more from the Pups project than from everything I did in the entire rest of the year put together.”</h3>
      <p class="author p-font">Owen Ekhator / Canada</p>
    </div>
    <hr>
      <div class="client-reviews">
      <h5 class="h5-font">“CodeBuddies was a great place for me because while working on the projects there, I honed my skills and I learned how to collaborate with other developers. During my job interview process, I was able to speak on the projects I worked on at CodeBuddies. It impressed my interviewers and consequently, I landed a job at a Fortune 500.”</h3>
      <p class="author p-font">Sarah Schneider / Canada</p>
    </div>
    <hr>
  </div>
</div>

<div class="logos-container bg-white mt-5 p-3">
  <h2 class="text-center h2-font p-3">Companys that works with us</h2>
  <hr>
  <ul class="logogrid">
    <li class="logogrid__item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/GitHub_Mark.png/640px-GitHub_Mark.png" class="logogrid__img" alt="Coca Cola">
    </li>
    <li class="logogrid__item">
      <img src="https://i.pcmag.com/imagery/reviews/05XBKmNFYeHCMIn726Nohqb-3..1569471603.jpg" class="logogrid__img" alt="Google">
    </li>
    <li class="logogrid__item">
      <img src="https://design-style-guide.freecodecamp.org/downloads/fcc_secondary_large.svg" class="logogrid__img" alt="AirBnB">
    </li>
    <li class="logogrid__item">
      <img src="https://logovtor.com/wp-content/uploads/2020/10/le-wagon-logo-vector.png" class="logogrid__img" alt="Spotify">
    </li>
       <li class="logogrid__item">
      <img src="https://www.qualified.io/shared/images/codewars-black-large-24a9d355.png" class="logogrid__img" alt="Spotify">
    </li>


  </ul>

</div>

 <div class="container project-banner d-flex mt-5">
  <div class="left-text">
   <div class="h2-font">Join our community</div>
    <div class="h2-font banner-green-text">Code, build and learn</div>
    <br>
    <div class="p-font sign-up">Sign up</div>
  </div>
  <div class="right-area">
    <div class="container form-container-banner-signup">
  <form>
    <%= form_for :user do |f| %>
    <div class="text-area text-center">
      <h2>Create account</h2>
      <p>Already have an account? <span><%= link_to "Login", new_user_session_path%></span></p>
    </div>
    <div class="form-row">
      <div class="col-12">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email" %>
      </div>
      <div class="col-6">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "password" %>
      </div>
      <div class="col-6">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "password" %>
      </div>
      <div class="col-12">

      </div>
    </div>
    <div class="sign-up-form-btn">
      <div class="p-font sign-up-form"><%= f.submit "Sign up", class: "p-font sign-up-form" %></div>
    </div>
    <% end %>
  </form>
 </div>
  </div>
</div>
<br>

<br>


