<br>
<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Build your ideas</h1>
    <p>See what our teams made</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>

<br>
<hr>
<br>

<div class="container text-center">
  <div class="container-project">
    <div class="text-project">
      <h3 class="h3-font">See all the new ideas to join</h3>
      <p class="p-font">Many of us have amazing ideas and we are looking for the perfect team to build it.</p>
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input
          name="utf8" type="hidden" value="&#x2713;" />
          <div class="search-form-control form-group mb-5">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
        </button>
        </div>
      </form>
    </div>
  </div>
</div>

<br>

<div class="container project-container bg-white p-5">
  <div class="cards">
    <% @projects.each do |project| %>
    <div class="">
      <div class="">
        <div class="card">
          <a class="img-card" href="">
            <%= cl_image_tag project.photo.key, height: 300, width: 400, crop: :fill %>
          </a>
          <a href="">
            <div class="p-font join"><%= link_to "Join", project_path(project)  %>
            </div>
          </a>

          <div class="card-content text-center p-3">
            <h2 class="card-title">
              <a href="">
                <%= project.name %>
              </a>
            </h2>
            <p class=""><%= project.description %> </p>
          </div>

        </div>
      </div>
    </div>
    <% end %>

  </div>
</div>

<br>
<br>

<div class="container text-center">
  <div class="container-project">
    <div class="text-project">
      <h3 class="h3-font">See the final results</h3>
      <p class="p-font">Our members join a team, started working and created their dream product.</p>
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input
          name="utf8" type="hidden" value="&#x2713;" />
          <div class="search-form-control form-group mb-5">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
        </button>
        </div>
      </form>
    </div>
  </div>
</div>

<br>

<div class="container project-container-section2 bg-white p-4 mb-4 ">
  <% @finished_projects.each do |project| %>
  <div class="row">
    <div class="">
      <div class="card project-finish">
        <a class="img-card" href="">
          <i id="fas" class="fas fa-heart"></i>
          <a class="img-card" href="">
            <%= cl_image_tag project.photo.key, height: 300, width: 400, crop: :fill, class: "card-img" %>
          </a>
        </a>
        <div class="card-content text-center p-3">
          <h2 class="card-title">
            <a href="">
              <%= project.name.capitalize %>
            </a>
          </h2>
          <p class=""><%= project.description %></p>
        </div>
        <div class="card-read-more-projects pt-2">
          <div class="card-footer-bottom d-flex justify-content-around py-2">
          <% teammate_ids = project.teammates %>
                <% teammate_ids.each do |teammate_id| %>
                <% teammate = User.find_by(id: teammate_id) %>
               <%= cl_image_tag teammate.avatar_photo.key, height: 35, width: 35, crop: :scale, class: "avatar-menu"%>  
              <div class="avatar-text h2-font m-3"style="font-size:20px"><%= teammate.name %>
              </div>
              
            </div>
          <% end %>
         
            <div class="detail-footer mt-2">
              <a href="">
                <div class="p-font-info details">Details</div>
              </a>
            </div>

          </div>
          
        </div>
        
      </div>
    <% end %>
    </div>
  </div>
</div>
