<div class="banner" style="background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url(https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Build your ideas</h1>
    <p>See what our teams made</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
<hr>

<div class="container text-center">
  <div class="container-project">
    <div class="text-project">
      <h3>See all the new ideas to join</h3>
      <p>Many of us have amazing ideas and we are looking for the perfect team to build it.</p>
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input
          name="utf8" type="hidden" value="&#x2713;" />
          <div class="search-form-control form-group mb-5">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
        </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container project-container bg-white p-5">
  <div class="cards">
    <% @projects.each do |project| %>
    <div class="">
      <div class="">
        <div class="card">
          <a class="img-card" href="">
            <img
              src="https://images.unsplash.com/photo-1589561253898-768105ca91a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80" />
          </a>
          <a href="">
            <div class="p-font join"><%= link_to "Join", project_path(project)  %>
            </div>
          </a>

          <div class="card-content text-center p-3">
            <h2 class="card-title">
              <a href="">
                <%= project.name %>
              </a>
            </h2>
            <p class=""><%= project.description %> </p>
          </div>

        </div>
      </div>
    </div>
    <% end %>
<%= link_to "Create New Project", new_project_path %>
<%= link_to "Outgoing Requests", outgoing_requests_path %>
<%= link_to "Incoming Requests", incoming_requests_path %>

  </div>
</div>




