<div class="wrapper">
  <div class="container">
    <div class="creation">
      <div class="starting m-5">
        <h1 class="h1-font mb-3">Welcome</h1>
        <p class="p-font mb-4">Share your idea, careata a project, start working</p>
        <a href="#section0" class="btn btn-dark">Start</a>
      </div>
      <%= simple_form_for(@project) do |f| %>
        <div class="question1 mb-5" id="section0">
          <%= f.label :name, 'Name', class: "h1-font mb-4" %>
          <%= f.input :name, label: false %>
          <p id="question2">Click me</p>
          <!--  <a href="#section1" class="btn btn-dark">Next</a> -->
        </div>
        <div class="testint mt-5" id="section1">
          <%= f.label :name, 'Description', class: "h1-font" %>
          <%= f.input :description, label: false %>
          <p id="question3">Click me</p>
          <!-- <a href="#section2 " class="btn btn-dark">Next</a> -->
        </div>
        <div class="question3" id="section2">
          <%= f.input :photo, as: :file %>
        </div>
        <%= f.submit class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
