<div class="container">
  <%= simple_form_for(@project) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>

<br>
  <br>
  <br>

<div class="wrapper">
  <div class="starting m-5">
    <h1 class="h1-font">Welcome</h1>
    <p>Share your idea, careata a project, start working</p>
  </div>
      <div class="question1 m-5">
        <%= simple_form_for(@project) do |f| %>
          <h2 class="h1-font"><%= f.input :name %></h2>
          <a href="#section1">Next</a>
        <% end %>
      </div>

        <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>

      <div class="question2 m-5" id="section1">
        <%= simple_form_for(@project) do |f| %>
          <h2 class="h1-font"><%= f.input :description %></h2>
          <a href="#section2">Next</a>

        <% end %>
      </div>

  <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
    <br>
  <br>
  <br>
  <br>
  <br>
      <div class="question3 m-5" id="section2">
        <%= simple_form_for(@project) do |f| %>
    <%= f.input :photo, as: :file %>

          <%= f.submit %>
        <% end %>
      </div>
</div>