<div class="container">

    <div id="notice-wrapper">
        <% flash.each do |type, msg| %>
        <div class=" alert alert-info">
            <%= msg %>
        </div>
        <% end %>
    </div>



<script>
    document.getElementByClassName("alert ").fadeOut(3000);
</script>

</div>

<div class="project-show-container mb-5 mt-5">
  <div class="card-product">
    <%= cl_image_tag @project.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-infos ml-3">

      <h2 class="h2-font mb-3"><%= @project.name %></h2>
      <div class="btn-links">
        <div class="links-project d-flex">
          <%= button_to "Join", project_join_request_path(@project), :method => :get, :remote => true, class: "join mr-1", "data-toggle" => "modal",  "data-target" => "#exampleModal"  %>
        </div>



      </div>



      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Your request has been processed</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>Succes!</h3>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <br>
      <p class="p-font"><%= @project.description %></p>
      <br><br>

        <h3 class="h2-font members">Members</h3>
      <div class="members d-flex mt-3 ">
          <div class="avatar-all show-page-project ">
             <div class="avatar-text p-font"><%= @project.user.name %></div>
            <%= cl_image_tag @project.user.avatar_photo.key, height: 35, width: 35, crop: :scale, class: "avatar-menu"%>
          <% teammate_ids = @project.teammates %>
        <% if teammate_ids.nil? == false  %>
          <% teammate_ids.each do |teammate_id| %>
          <% teammate = User.find_by(id: teammate_id) %>
            <%= cl_image_tag teammate.avatar_photo.key, height: 35, width: 35, crop: :scale, class: "avatar-menu"%>
          <div class="avatar-text p-font"><%= teammate.name %></div>
            <%# <div class="p-font show-card">Montreal</div> %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
   </div>

</div>
