<div class="container">

    <div id="notice-wrapper">
        <% flash.each do |type, msg| %>
        <div class=" alert alert-info">
            <%= msg %>
        </div>
        <% end %>
    </div>



<script>  
    document.getElementByClassName("alert ").fadeOut(3000);
</script>

</div>

<div class="project-show-container mb-5 mt-5">
  <div class="card-product">
    <%= cl_image_tag @project.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-infos ml-3">

      <h2 class="h2-font mb-3"><%= @project.name %></h2>
      <div class="btn-links">
        <div class="links-project d-flex">
          <%= link_to "Join", project_join_request_path(@project), class: "join mr-1"  %>
                  <% @chatroom = @project.chatroom %>
            
              
            
        </div>
        

        
      </div>

      <br>
      <p class="p-font"><%= @project.description %></p>
      <br><br>
        <h3 class="h2-font members">Members</h3>
      <div class="members d-flex mt-3 ">
          <div class="avatar-all show-page-project ">
            <img class="avatar" alt="avatar" src="https://images.unsplash.com/photo-1578774296842-c45e472b3028?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1521&q=80" />
            <div class="avatar-text p-font">Amanda</div>
            <%# <div class="p-font show-card">Montreal</div> %>
          </div>

          <div class="avatar-all show-page-project">
            <img class="avatar" alt="avatar" src="https://images.unsplash.com/photo-1582233479366-6d38bc390a08?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2561&q=80" />
            <div class="avatar-text p-font">Charlie</div>
            <%# <div class="p-font">Montreal</div> %>
          </div>

          <div class="avatar-all show-page-project">
            <img class="avatar" alt="avatar" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1534&q=80" />
            <div class="avatar-text p-font">Larry</div>
            <%# <div class="p-font">Montreal</div> %>
          </div>
      </div>
    </div>
   </div>

</div>
