<div class="container">
<h1><%= @project.name %></h1>
    <%= link_to "Request to Join", project_join_request_path(@project)  %>
<p><%= @project.description %></p>
<%= cl_image_tag @project.photo.key, height: 300, width: 400, crop: :fill %>
<% @chatroom = @project.chatroom %>
<%= link_to "Go to Chatroom", project_chatroom_path(@project, @chatroom)  %>
<%= link_to "Back to projects", root_path, class: "btn-gradient"  %>
<%= link_to "Go see", projects_path(@project)  %>

</div>
